@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>
<form asp-controller="Home" asp-action="Login" method="post">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">User name</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="User name">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Password</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Password">
</div>
<input type="submit" value="Login" class="btn btn-primary" />
</form>

